@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
   font-family: 'Raleway';

}

header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0px;
}


.logo {
    height: 50%;
    cursor: pointer;
}

.navbar,
.navbar-list {
display: flex;
align-items: center;
justify-content: center;

}
.navbar{
gap: 50px;

}

.navbar-list {
    gap: 30px;

}

.navbar-list a {
color: rgb(0, 0, 0);
font-weight: 500;
letter-spacing: 2px;
font-size: 14px;
}


.acceder {
    border-radius: 30px;
    border: none;
    background-color: rgb(175, 50, 175);
    padding: 15px 30px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    width: fit-content;
    cursor: pointer;
    
        }
.fa-cart-shopping {
    color: #2a9abd;
    font-size: 24px;
    cursor: pointer;
}

#cart-toggle,
#menu-toggle,
.menu-label {
    display: none;
}



#cart-toggle:checked + .cart {
    display: flex;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #42a7cf, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4eb8e9, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
   
    }
    
    #hero {
        display: flex;
   justify-content: center;
   
    
  

    
    
    }

    .hero-container {
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
    gap: 80px;
    padding: 50px;
    }



    .hero-info {
        display: flex;
        flex-direction: column;
width: 50%;
gap: 40px;
color: white;
font-size: 20px;

    }

.hero-info h1 {
    font-size: 50px;
    font-weight: 600;
}

.con-onda {
font-weight: 800;


}

.hero-info p {
font-weight: 500;
line-height: 130%;
width: 90%;
align-items: center;


}
    .button1 {
border-radius: 30px;
border: none;
background-color: rgb(146, 20, 146);
padding: 15px 30px;
color: white;
font-weight: 600;
font-size: 16px;
letter-spacing: 3px;
width: fit-content;
cursor: pointer;

    }

    .hero-img {
        display: flex;
        width: 40%;
        height: 700px;

    }

    #beneficios {
        background-color: rgb(175, 50, 175);
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .contenedorBeneficios {
display: flex;
margin: 50px;
gap: 20px;
align-items: center;
justify-content: center;
max-width: 1200px;
padding: 30px;
flex-wrap: wrap;



    }


    .beneficio {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
gap: 20px;
padding: 30px;


    }

    .fa-brands,
    .fa-clock-rotate-left,
    .fa-calendar-check {
        font-size: 48px;
    }

    .descripcionBeneficio {
justify-content: center;
text-align: center;
font-size: 1rem;
max-width: 300px;;

    }

#modelos {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

#modelos h2 {
color: white;
font-size: 24px;
letter-spacing: 10px;
font-weight: 700;
margin-top: 50px;
}


.products-container {
    display: flex;
justify-content: center;
align-items: center;
gap: 40px;
flex-wrap: wrap;
padding: 30px;
border-radius: 1rem;

}

.product {
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
flex-direction: column;
gap: 20px;
border-radius: 2rem;
padding: 20px;
}
    

.product-img {
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 250px;

}

.product-info {
    display: flex;
    gap: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add {
    border-radius: 1rem;
    background-color: #2a9abd;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
}

.categoria {
font-size: 12px;
text-decoration: underline;
color: rgb(100, 100, 100);
cursor: pointer;

}
.ver-mas
{
    font-size: 20px;
    color: white;
    font-weight: 700;
   

}

.fa-chevron-down {
    font-size: 2rem;
    color: white;
    margin-bottom: 50px;
    cursor: pointer;
}

#personalizadas {
    background-color: #2a9abd;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.contenedor-formulario {
gap: 20px;
max-width: 1000px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;

}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    width: 100%;
}

.personalizado {
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 700px;
}

#Nombre,
#Motivo,
#E-mail,
#Detalles,
#Contraseña

 {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 15px;
    width: 70%;

}

#Nombre::placeholder,
#Motivo::placeholder,
#E-mail::placeholder,
#Detalles::placeholder,
#Contraseña::placeholder {

    font-size: 14px;
    font-weight: 400;
}

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
    display: flex;
     align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px;

}

.footer-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 120px;
      
}
 
.contactanos,
.seguinos {
    font-weight: 800;
}

.redes li,
.lista-categorias li,
.contacto li {
    padding:10px;
}


.logo-footer {
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 100px;

}

/* register */

.bienvenido {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: black;
    border-radius: 3rem;
    padding: 60px 5px;
}

.logo-register {
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 600px;
    
}

.registrarse-con {
    color: white;
    gap: 10px;
    display: flex;
}

.fa-google,
.fa-facebook {
    font-size: 22px;
}

.main-register {
    height: 100vh;
}

#Contraseña {
    margin-bottom: 20px;
}

.volver {
    color: black;
    font-size: 18px;
font-weight: 800;
padding: 50px;
}

.cart {
    position:absolute;
    top: 70px;
    display: flex;
align-items: center;
flex-direction: column;
    right: 0;
    padding: 40px 30px;
    background-color: white;
    z-index: 2;
    gap: 20px;
    display: none;

}

.compra {
    display: flex;
    align-items: center;
   gap: 10px;
   padding: 1

      
}

.cart-item {
    color:  rgb(175, 50, 175);
    font-size: 16px;
}

.cart-img {
    width: 70px;
    display: flex;
   
}

.cart-info {
    display: flex;
    flex-direction: column;
   
    gap: 10px;
}

.ver-carrito,
.finalizar {
    background-color: rgb(175, 50, 175);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 1rem;
    width: 80%;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.subtotal
 {
    font-weight: 800;
 }

 .compras {
    display: flex;
    justify-content: flex-start;
 }

.hero-container {
    
width: 100%;
padding: 80px 20px;


 }

 .hero-info {
    min-width: 320px;
 }